<div data-controller="brand-load">
  <div class="mb-3">
    <div class="form-group">
      <%= form.label :kind, t('activerecord.attributes.brand.kind'), class: "form-label" %><br>

      <div class="form-check form-check-inline">
        <%= form.radio_button(:kind, :car, class: 'form-check-input', data: { target: 'brand-load.kind', action: "change->brand-load#brands" }) %>
        <%= form.label :kind_car, t('activerecord.attributes.brand.kinds.car'), class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button(:kind, :moto, class: 'form-check-input', data: { target: 'brand-load.kind', action: "change->brand-load#brands" }) %>
        <%= form.label :kind_moto, t('activerecord.attributes.brand.kinds.moto'), class: 'form-check-label' %>
      </div>
    </div>
  </div>

<!--  <div class="mb-3">-->
    <%#= form.label :brand, class: "form-label" %>
    <%#= form.number_field :brand, class: "form-control" %>
<!--  </div>-->

  <div class="mb-3">
    <%= form.label :brand_id, class: "form-label" %>
    <%= form.select(:brand_id, Brand.select_list(), { :prompt => t('form.select') }, { class: 'form-select form-select-lg select2-input', disabled: nil, data: { target: 'brand-load.brand' } }) %>
  </div>

</div>

<div class="mb-3">
  <%= form.label :model, class: "form-label" %>
  <%= form.text_field :model, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :color, class: "form-label" %>
  <%= form.text_field :color, class: "form-control" %>
</div>

<!--<div class="mb-3">-->
  <%#= form.label :state_name, class: "form-label" %>
  <%#= form.text_field :state_name, class: "form-control" %>
<!--</div>-->

<!--<div class="mb-3">-->
  <%#= form.label :city_name, class: "form-label" %>
  <%#= form.text_field :city_name, class: "form-control" %>
<!--</div>-->

<div class="mb-3">
  <%= form.label :plate, class: "form-label" %>
  <%= form.text_field :plate, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :tachometer, class: "form-label" %>
  <%= form.text_field :tachometer, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :chassi, class: "form-label" %>
  <%= form.text_field :chassi, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :engine_number, class: "form-label" %>
  <%= form.text_field :engine_number, class: "form-control" %>
</div>

<div data-controller="city-load">
  <div class="mb-3">
    <%= form.label :state_id, class: "form-label" %>
    <%= form.select(:state_id, State.select_list(), { :prompt => t('form.select') }, { class: 'form-select form-select-lg select2-input', disabled: nil, data: { target: 'city-load.state', action: "change->city-load#cities" } }) %>
  </div>

  <div class="mb-3">
    <%= form.label :city_id, class: "form-label" %>
    <%= form.select(:city_id, {}, { :prompt => t('form.select') }, { class: 'form-select form-select-lg select2-input', disabled: nil, data: { target: 'city-load.city', } }) %>
  </div>
</div>

<div class="mb-3">
  <%= form.label :conductor_id, class: "form-label" %>
  <%= form.number_field :conductor_id, class: "form-control" %>
</div>