<div id="<%= dom_id inspection %>">
  <p>
    <strong>Code:</strong>
    <%= inspection.code %>
  </p>

  <p>
    <strong>Motive apprehension:</strong>
    <%= inspection.motive_apprehension %>
  </p>

  <p>
    <strong>Address full:</strong>
    <%= inspection.address_full %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= inspection.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= inspection.longitude %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= inspection.neighborhood %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= inspection.observations %>
  </p>

  <p>
    <strong>Situation:</strong>
    <%= inspection.situation %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= inspection.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= inspection.user_id %>
  </p>

</div>
