<div id="<%= dom_id inspection %>">
  <p>
    <strong><%= t('activerecord.attributes.inspection.code') %>:</strong>
    <%= inspection.code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.motive_apprehension') %>:</strong>
    <%= inspection.motive_apprehension %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.address_full') %>:</strong>
    <%= inspection.address_full %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.latitude') %>:</strong>
    <%= inspection.latitude %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.longitude') %>:</strong>
    <%= inspection.longitude %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.neighborhood') %>:</strong>
    <%= inspection.neighborhood %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.observations') %>:</strong>
    <%= inspection.observations %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.situation') %>:</strong>
    <%= inspection.situation %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.status') %>:</strong>
    <%= inspection.status %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.inspection.code') %>:</strong>
    <%= inspection.user_id %>
  </p>

  <h1>Condutor</h1>
  <% conductor = inspection.conductors.first %>
  <p>
    <strong><%= t('activerecord.attributes.conductor.full_name') %>:</strong>
    <%= conductor.full_name %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.conductor.nickname') %>:</strong>
    <%= conductor.nickname %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.conductor.qualified') %>:</strong>
    <%= display_boolean_raw(conductor.qualified) %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.conductor.cpf') %>:</strong>
    <%= conductor.cpf %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.conductor.birthday') %>:</strong>
    <%= conductor.birthday %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.conductor.bio') %>:</strong>
    <%= conductor.bio %>
  </p>

  <h1>Veiculo</h1>
  <% vehicle = inspection.conductors.first.vehicles.first %>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.kind') %>:</strong>
    <%= display_enum(vehicle.kind) %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.brand_id') %>:</strong>
    <%= vehicle.brand.name %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.code') %>:</strong>
    <%= vehicle.plate %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.model') %>:</strong>
    <%= vehicle.model %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.color') %>:</strong>
    <%= vehicle.color %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.engine_number') %>:</strong>
    <%= vehicle.engine_number %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.chassi') %>:</strong>
    <%= vehicle.chassi %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.tachometer') %>:</strong>
    <%= vehicle.tachometer %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.vehicle.state_id') %>:</strong>
    <%= vehicle.state.name_pt_BR %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.vehicle.city_id') %>:</strong>
    <%= vehicle.city.name_pt_BR %>
  </p>

</div>
