<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">

      <h1>Vistorias</h1>
    </div>
  </div>
  <div id="companies" class="card-body">
    <div class="table-responsive my-4">

      <table id="basic-table-inspections" class="table table-striped mb-0" role="grid">
        <thead class="text-primary">
        <tr>
          <th><%= t('inspection.index.date') %></th>
          <th><%= t('inspection.index.guard') %></th>
          <th><%= t('inspection.index.kind') %></th>
          <th><%= t('inspection.index.brand') %></th>
          <th><%= t('inspection.index.conductor') %></th>
          <th><%= t('activerecord.attributes.inspection.situation') %></th>
          <th><%= t('action') %></th>
        </tr>
        </thead>
        <tbody>
        <% @inspections.each do |inspection| %>
          <tr>
            <td><%= format_date(inspection.created_at) %></td>
            <td><%= inspection.try(:email) %></td>
            <td><%= display_enum(inspection.try(:kind)) %></td>
            <td><%= inspection.try(:name)  %></td>
            <td><%= inspection.try(:nickname)  %></td>
            <td><%= inspection.situation %></td>
            <td>
              <%= link_to t('show'), [:admin, inspection], class: 'btn btn-info' %>
              <%= link_to t('edit'), edit_admin_inspection_path(inspection), class: 'btn btn-primary' %>
              <%= link_to t('destroy'), [:admin, inspection], method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>

    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

    <%= link_to t('new'), new_admin_inspection_path, class: 'btn btn-success' %>
  </div>
</div>
