<%= form_with(model: [:admin, tax]) do |form| %>
  <% if tax.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :amount, class: "form-label" %>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <%= form.label :kind, t('activerecord.attributes.brand.kind'), class: "form-label" %><br>

      <div class="form-check form-check-inline">
        <%= form.radio_button(:kind, :car, class: 'form-check-input') %>
        <%= form.label :kind_car, t('activerecord.attributes.tax.kinds.car'), class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button(:kind, :moto, class: 'form-check-input') %>
        <%= form.label :kind_moto, t('activerecord.attributes.tax.kinds.moto'), class: 'form-check-label' %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button(:kind, :both, class: 'form-check-input') %>
        <%= form.label :kind_both, t('activerecord.attributes.tax.kinds.both'), class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %> <br>

    <div class="form-check form-switch form-check-inline">
      <%= form.check_box :status, class: "form-check-input" %>
      <%= form.label :status, 'Ativo', class: "form-check-label pl-2" %>
    </div>

  </div>

  <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.text_field :user_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
