<div id="<%= dom_id tax %>">
  <p>
    <strong>Amount:</strong>
    <%= tax.amount %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= tax.kind %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tax.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tax.user_id %>
  </p>

</div>
