<div id="<%= dom_id tax %>">
  <p>
    <strong><%= t('activerecord.attributes.tax.amount') %>:</strong>
    <%= number_to_currency(tax.amount) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.tax.kind') %>:</strong>
    <%= display_kind_enum(tax.kind) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.tax.status') %>:</strong>
    <%= display_boolean_badge(tax.status) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.tax.user') %>:</strong>
    <%= tax.user_id %>
  </p>

</div>
