<%= form_with(model: [:admin, profile], class: "row g-3") do |form| %>
  <% if profile.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%
    if form.object.new_record?
      build_user = @profile.build_user
    else
      build_user = nil
    end
  %>

  <%= form.fields_for :user, profile.build_user do |user_subform| %>
    <%= render 'form_user', form: user_subform %>
  <% end %>

  <h3 class="mb-3">Dados do Agente</h3>

  <div class="col-md-6 mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :full_name, class: "form-label" %>
    <%= form.text_field :full_name, class: "form-control" %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :nickname, class: "form-label" %>
    <%= form.text_field :nickname, class: "form-control" %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :cpf, class: "form-label" %>
    <%= form.number_field :cpf, class: "form-control" %>
  </div>

  <div class="col-md-6 mb-3">
    <%= form.label :number, class: "form-label" %>
    <%= form.number_field :number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :bio, class: "form-label" %>
    <%= form.text_area :bio, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :birthday, class: "form-label" %>
    <%= form.date_field :birthday, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :avatar, class: "form-label" %>
    <%= form.text_field :avatar, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %> <br>

    <div class="form-check form-switch form-check-inline">
      <%= form.check_box :status, class: "form-check-input" %>
      <%= form.label :status, 'Ativo', class: "form-check-label pl-2" %>
    </div>

  </div>

<!--  <div class="mb-3">-->
    <%#= form.label :user_id, class: "form-label" %>
    <%#= form.text_field :user_id, class: "form-control" %>
<!--  </div>-->

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
