<div id="<%= dom_id profile %>">
  <p>
    <strong>First name:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= profile.full_name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= profile.nickname %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= profile.cpf %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= profile.number %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= profile.birthday %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= profile.avatar %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= profile.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
