<div id="<%= dom_id profile %>">
  <p>
    <strong><%= t('activerecord.attributes.profile.first_name') %>:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.last_name') %>:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.full_name') %>:</strong>
    <%= profile.full_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.nickname') %>:</strong>
    <%= profile.nickname %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.cpf') %>:</strong>
    <%= profile.cpf %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.number') %>:</strong>
    <%= profile.number %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.bio') %>:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.birthday') %>:</strong>
    <%= format_date(profile.birthday) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.avatar') %>:</strong>
    <%= profile.avatar %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= profile.status %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.user') %>:</strong>
    <%= profile.user_id %>
  </p>

</div>
