<p><%= t('devise.mailer.title.welcome') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.phase1') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('devise.mailer.email_changed.phase2') %> <%= @resource.email %>.</p>
<% end %>
